*{
    margin:0;
    padding:0;
    border:0;
    }
body{
    
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("https://cdn.pizap.com/pizapfiles/images/photo_backgrounds_textures_app04.jpg");
   
   }


    td, th{
   border: 1px solid black;
   
   
   }


   ul li{
    margin:2%;
    display:inline;
    }

    #slika{
        margin-top: -50px;
        height: 100px;
        width: 100px;
        position: relative;
        align-content: center;
    }

.logo{
    width:60vw;
    min-width: 360px;
    text-align: center;
    margin: auto;
    
}

.meni{
   
    padding-bottom: 3px;
    height: 50%;
    width: 100%;
    
    background-color: royalblue;
    color:black!important;
}
.sadrzaj{
    font-family: Arial;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: royalblue;
    height: 700px;
    margin : auto;
    margin-top: 10px;
}
a{
    color:black;
}

a:link{
    text-decoration: none;
}

