* {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

body {

    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("https://cdn.pizap.com/pizapfiles/images/photo_backgrounds_textures_app04.jpg");

}

#slika {
    margin-top: -50px;
    height: 100px;
    width: 100px;
    position: relative;
    align-content: center;
}

.logo {
    width: 60vw;
    min-width: 360px;
    text-align: center;
    margin: auto;

}

.meni {
    padding-bottom: 3px;
    height: 50%;
    width: 100%;
    background-color: royalblue;
    color: black !important;
}

ul li {
    margin: 2%;
    display: inline;

}

a:link {
    text-decoration: none;
}

.sadrzaj {
    display: flex;
    justify-content: center;

    background-color: royalblue;
    height: 1700px;
    margin: auto;
    margin-top: 10px;
}

a {
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
}

.grid img {
    width: 80%;
    height: 320px;

}

.dugmad{
    margin-top: 1%;
    margin-left:10% ;
    display: inline-block;
    width:100%;
    height: 10%;
    margin-bottom: 1%;
  
}

#dugmePrethodni{
    border: solid 3px blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightblue;
    float:left;
    width:100px;
    height:40px;
    margin-left: 3%;
}

#dugmeSljedeci{
    border: solid 3px blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightblue;
    float:right;
    width:100px;
    height: 40px;
    margin-right: 30%;
}

@media only screen and (max-width: 600px) {
    ul li {
        display: block;
    }

    a:link {
        text-decoration: none;
    }

    .sadrzaj {
        height: auto;
        justify-content: center;

    }

    .grid img {
        width: 64%;
        height: 256px;
    }

    .grid {

        display: block;

    }
}
