*{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

body{
    
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("https://cdn.pizap.com/pizapfiles/images/photo_backgrounds_textures_app04.jpg");
   
   }

   #slika{
    margin-top: -50px;
    height: 100px;
    width: 100px;
    position: relative;
    align-content: center;
}

.logo{
width:60vw;
min-width: 360px;
text-align: center;
margin: auto;

}

.meni{
padding-bottom: 3px;
height: 50%;
width: 100%;
background-color: royalblue;
color:black!important;
}

ul li{
    margin:2%;
    display:inline;
    }

    .sadrzaj{

width: 100%;
background-color: royalblue;
height: 100%;
margin : auto;
margin-top: 10px;
text-align: center;
padding-top: 30px;
    }

    a{
color:black;

    }

    a:link{
        text-decoration: none;
    }

    .forma{
        display: inline block;
        background-color: burlywood;
        color:black;
        width:40%;
        height: 10%;
        margin-top: 3%;
        margin-left: 30%;
        margin-right: auto;
        text-align: center;
        padding-bottom: 10px;
    
    
    }


    label {
        display: inline block;
        float: left;
        width: 10%;
        height: 15px;
        font-family: "Arial";
        font-size: 15px;
        margin-top: auto;
        margin-left:20%;
        margin-right:auto;
        margin-bottom: auto;

        
        }
    
        input{
            display: inline block;
            margin-left: auto;
            margin-top: auto;
            margin-bottom: auto;
            margin-right: auto;
            width: 100px;
            height: 15px;
        }

        .kalendar{
            height: 100%;
            width: 70%;
            margin-top:5%;
            margin-left: 15%;
         
          
        }

      
        .mjesec{
            width: 100%;
            height: 70%;
            border: 3px solid;
        
            border-color: peru;
            background-color:burlywood ;
            border-spacing: 2vh;
            
        }

        .novembar{
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size:100% ;
            font-weight: bold;
            height: 30%;
        }

        .sedmica{
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            column-gap: 3%;

        }

        .naziv{
            width:10%;
            border-collapse: separate;
            border: 3px solid;
            border-color: peru;
            border-spacing: 3px;
        }

        .dan{
            border: solid 3px peru;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }

        td div.slobodna{
            background-color: green;
            height: 50%;
            
        }

        
        td div.zauzeta{
            background-color:red;
            height: 50%;
            
        }

        .dugmad{
            margin-top: 2%;
            margin-left:10% ;
            display: inline-block;
            width:100%;
            height: 20%;
            margin-bottom: 5%;
        }

        .prethodni{
            border: solid 3px peru;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: burlywood;
            float:left;
            width:100px;
            height:40px;
            margin-left: 5%;
        }
        
        .sljedeci{
            border: solid 3px peru;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: burlywood;
            float:right;
            width:100px;
            height: 40px;
            margin-right: 25%;
        }

        @media only screen and (max-width:600px){

            ul li{
                display: block;
            } 

            a:link{
                text-decoration: none;
            }
            
            .sadrzaj{
                width:auto;
                height: auto;
            }
            table{
            
             display: flex;
             width: 25%;
            table-layout: fixed;
            height: 35%;
            margin-left: 2%;
                
            }
            .obrisi{
                display: none;
            }
          
          
            .sedmica {
                padding: 5px;
                margin-top: -5px;
                border: none;
                display: block;
                margin-left: -40px;
                margin-bottom: 60%;
                
            
            }

            .sedmica th{
                
                display: block;
                width:40px;
                height: 30px;
                margin-left: 50px;
                text-align: center;
                
            }
        .prvaSedmica{
            
            border: none;
            margin-top:-315px;
            margin-left: 40%;
        
            display: block;
            width:50%;
           
            
        }

        .prvaSedmica td{
            
            display: block;
            height: 20px;
            width: 40px;
            padding-bottom: 10px;
            margin-left: 30px;
           
        }

        label, input{
            width: 50%;
            display: block;
          
        }

        }