*{
    margin:0;
    padding:0;
    border:0;
    }
body{
    
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("https://cdn.pizap.com/pizapfiles/images/photo_backgrounds_textures_app04.jpg");
   
   }

   .tabelaSala{
    
    width:350px;
    height: 480px;
    margin:auto;
    border-collapse: collapse;
    align-self: center;
    text-align: center;
    table-layout: auto;
   
   }

    td, th{
   border: 1px solid black;
   
   
   }


   ul li{
    margin:2%;
    display:inline;
    }

    #slika{
        margin-top: -50px;
        height: 100px;
        width: 100px;
        position: relative;
        align-content: center;
    }

.logo{
    width:60vw;
    min-width: 360px;
    text-align: center;
    margin: auto;
    
}

.meni{
   
    padding-bottom: 3px;
    height: 50%;
    width: 100%;
    
    background-color: royalblue;
    color:black!important;
}
.sadrzaj{
    font-family: Arial;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: royalblue;
    height: 700px;
    margin : auto;
    margin-top: 10px;
}
a{
    color:black;
}

a:link{
    text-decoration: none;
}

.headerSprat{
    

    text-align: center;
    background-color: lightgray;
}

.headerRedni{
    width: 20%;
    text-align: center;
    background-color: gray;}

.slobodnaSala{
    background-color: green!important;
}

.zauzetaSala{
    background-color: orange!important;
}

.kancelarija{
    background-color: gray!important;
}

.sala{
    width:10%;
    height: 10%;
    text-align: center;
    background-color: white;
}
.prazno{
    border-top-style: hidden;
    border-left-style: hidden;
}

@media only screen and (max-width:600px){
    .headerRedni{
        display: none;
    }

    .headerSprat{
        display: none;
    }

    ul li{
        display: block;
    }

    a:link{
        text-decoration: none;
    }

    .prazno{
        display: none;
    }
}