*{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

body{
    
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("https://cdn.pizap.com/pizapfiles/images/photo_backgrounds_textures_app04.jpg");
   
   }

   #slika{
    margin-top: -50px;
    height: 100px;
    width: 100px;
    position: relative;
    align-content: center;
}

.logo{
width:60vw;
min-width: 360px;
text-align: center;
margin: auto;

}

.meni{
padding-bottom: 3px;
height: 50%;
width: 100%;
background-color: royalblue;
color:black!important;
}

ul li{
    margin:2%;
    display:inline;
    }

    .sadrzaj{

padding-top:20px;
text-align: center;
background-color: royalblue;
height: 700px;
margin : auto;
margin-top: 10px;
    }
    a{
color:black;
    }

    a:link{
        text-decoration: none;
    }

    .forma{
        background-color: burlywood;
        color:black;
       
        width:40%;
        height: 45%;
        margin:auto;
        align-self: center;
        text-align: center;
    
    
    }

    label {
        text-align: center;
        display: inline block;
        float: left;
        width: 50%;
        height:3%;
        font-family: "Arial";
        margin-top: 5%;
        margin-left:5%;
        margin-right:0%;
        margin-bottom: auto;
        
        }
    
        input{
            display: inline block;
            margin-left: 0%;
            margin-top: 5%;
            margin-bottom: auto;
            width: 40%;
            height: 3%;
        }

        @media only screen and (max-width:600px){
           
        .forma{
            text-align: left;
        }
        label{
            
            display: block;
            float:left;
            width: auto;
            
        }
        input{
            display: block;
            float: left;
            width:80%;
        }
            ul li{
                display: block;
            }

            a:link{
                text-decoration: none;
            }
        
            
        }
        
        